#table1 {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width:1200px;
    padding: 40px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    background-color: black;
}
#table1 a{
    color:white;
}
#table1 table {
    margin: 0 auto;
    font-size: large;
    border: 1px solid white;
}

#table1 table h1 {
    text-align: center;
    color: #006600;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT',
    ' Calibri', 'Trebuchet MS', 'sans-serif';
}

#table1 table td {
    background-color: white;
    border: 1px solid white;
    color: black;
}

#table1 table th,
td {
    font-weight: bold;
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    color: black;
    background-color: white;
}

#table1 table td {
    font-weight: lighter;
    color: black;
}
#table1.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transform: 0.5s;
}
#table2 {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width:1200px;
    padding: 40px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    background-color: black;
}
#table2 a{
    color:white;
}
#table2 table {
    margin: 0 auto;
    font-size: large;
    border: 1px solid white;
}

#table2 table h1 {
    text-align: center;
    color: #006600;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT',
    ' Calibri', 'Trebuchet MS', 'sans-serif';
}

#table2 table td {
    background-color: white;
    border: 1px solid white;
    color: black;
}

#table2 table th,
td {
    font-weight: bold;
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    color: black;
    background-color: white;
}

#table2 table td {
    font-weight: lighter;
    color: black;
}
#table2.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transform: 0.5s;
}